<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{{ asset("suitcase.png") }}" />
        <link rel="stylesheet" href="{{ asset("bootstrap/css/bootstrap.css") }}">
        {#
        <script src="{{ asset("bootstrap/js/bootstrap.bundle.js") }}"></script>
        <script src="{{ asset("bootstrap/js/bootstrap.js") }}"></script>
        #}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <script src="{{ asset("js/jquery/jquery.min.js") }}"></script>
        <script src="{{ asset("js/script.js") }}"></script>
        <title>{% block title %}Le meilleur coin{%  endblock %}</title>
        {% block js %}{% endblock %}
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ path('home') }}" >
                    <img src="{{ asset("suitcase.svg") }}" width="40" height="40" class="d-inline-block" alt="">
                    Le meilleur coin
                </a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul id="navbarmain" class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}" title="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('ad') }}" title="Annonce">Ajouter une annonce</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('faq') }}" title="FAQ">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cgu') }}" title="CGU">CGU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('category') }}" title="category">Category</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>

            {% endfor %}
        {% endfor %}
        <main>{% block main %} {% endblock %}</main>
        <footer></footer>
    </body>
</html>